.bg-review {
    background: url('https://opencart.mahardhi.com/MT05/fruitify/catalog/view/theme/mahardhi/image/mahardhi/insta&testimonial-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}